<!-- <section>
  <h1>CADASTRO</h1>
  <form class="register__form">
    <div>
      <label for="">Nome:</label>
      <input type="text" formControlName="name" placeholder="insira o nome">
    </div>
    <div>
      <label for="">Email:</label>
      <input type="email" formControlName="email" placeholder="ex: usuario@email.com">
    </div>
    <div>
      <label for="">Senha:</label>
      <input type="password" formControlName="password" placeholder="insira sua senha">
    </div>
    <div>
      <label for="">Confirme sua senha:</label>
      <input type="password" formControlName="confirmPassword" placeholder="insira sua senha">
    </div>
    <button type="submit">Cadastrar</button>
  </form>

</section> -->
