* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: whitesmoke;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// button {
//   background: none;
//   border: none;
//   cursor: pointer;
// }

a {
  text-decoration: none;
}


.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

